# Gradle files
.gradle/
build/

# IDE files
.idea/
.iml

# Local configuration file
local.properties

# Log files
*.log

# Keystore file
keystore.jks

# Firebase configuration file (contains sensitive information)
google-services.json


# Malicious
*.iml
.DS_Store
/captures
.externalNativeBuild
.cxx
